@media screen and (min-width: 768px) {
    #skills-container {
        grid-template-columns: 1fr 1fr;
    }

    #projeto-container .projeto {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    #projeto-container .projeto-info {
        width: 80%;
    }

    #projeto-container .foto {
        aspect-ratio: 1/1;
        max-width: 20%;
        max-height: 200px;
    }

    
}